<%= render "shared/header" %>
<div class='top-page-main'>
  <div class='top-page-title'>
    Person 一覧
  </div>
  <div >
  <ul class='person-lists'>
    <% if @people.present? %>
      <%= render partial: 'person', collection: @people %>
    <% end %>
  </ul>
</div>
<%= link_to new_person_path do%>
  <div class='memories-btn'>
    <div class='memories-btn-text'>記録する</div>
  </div>
<% end %>