<header class='top-page-header'>
  <div class='search-bar-contents'>
    <%= link_to 'Person Memory', "/", class:"food-selection" %>
    <div class='nav'>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
    </div>
  </div>
</header>